:root {
  --colour-primary:red;
  --border-radius:14px;
  --font-primary: sans-serif;
  --font-secondary: "Roboto Slab", sans-serif;
}

html {
  font-family: var(--font-primary);
}

.card {
  max-width: 24em;
  border: 3px solid var(--colour-primary);
  border-radius: var(--border-radius);
}

.card-title {
  color: var(--colour-primary);
  font-family: var(--font-secondary);
}

.btn {
  background-color: var(--colour-primary);
  border-color: var(--colour-primary);
  border-radius: var(--border-radius);  font-family: var(--font-secondary);
}
